.table-hover-cells td:hover,
.table-hover-cells th:hover {
  background-color: rgba(0, 0, 255, 0.031) !important;
}
.table-hover-rows tr:hover {
  background-color: rgba(0, 0, 255, 0.03) !important;
}
.link-unstyled,
.link-unstyled:hover {
  color: inherit;
  text-decoration: none;
}
