{% extends "expenses/base_bootstrap.html" %}
{% load crispy_forms_tags %}

{% block content %}
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'expenses:project_list' %}">Projects</a></li>
    <li class="breadcrumb-item active">{{ project.name }}</li>
    <form class="ml-auto" action="{% url 'account_logout' %}" method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-sm btn-danger" name="logout" value="Logout">
    </form>
  </ol>
</nav>

<table class="table table-sm table-bordered table-hover-rows table-hover-cells">
  <thead class="thead-light">
    {% for header_row in header_rows %}
    <tr>
      {% if forloop.counter0 == 0 %}
      <th rowspan="{{ header_rows|length }}">
        <a class="d-block link-unstyled" href="{% url 'expenses:expense_list' project_public_id=project.public_id %}">
          <span>All</span>
        </a>
      </th>
      {% endif %}
      {% for header in header_row %}
      <th colspan="{{ header.colspan }}" rowspan="{{ header.rowspan }}" style="background-color: {{ header.color }}40 ">
        <a class="d-block link-unstyled" href="{{ header.link }}">
          <span>{{ header.name }}</span>
        </a>
      </th>
      {% endfor %}
      {% if forloop.counter0 == 0 %}
      <th rowspan="{{ header_rows|length }}">
        <a class="d-block link-unstyled" href="{% url 'expenses:expense_list' project_public_id=project.public_id %}">
          <span>∑</span>
        </a>
      </th>
      {% endif %}
    </tr>
    {% endfor %}
  </thead>
  {% for period, value_row in value_rows %}
  <tr>
    <th>
      <a class="d-block link-unstyled" href="{{ period.link }}">
        <span>{{ period.name }}</span>
      </a>
    </th>
    {% for value in value_row %}
    <td class="text-right text-monospace">
      <a class="d-block link-unstyled" href="{{ value.link }}">
        <span>{{ value.name }}</span>
      </a>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<h1>Create a new expense</h1>
<br>

{% crispy create_expense_form_inline %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
