{% extends "expenses/base_bootstrap.html" %}

{% block content %}
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'expenses:project_list' %}">Projects</a></li>
    <li class="breadcrumb-item active">Overview</li>
    <form class="ml-auto" action="{% url 'account_logout' %}" method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-sm btn-danger" name="logout" value="Logout">
    </form>
  </ol>
</nav>

<table class="table table-sm table-striped table-bordered">
  <thead class="thead-light">
    {% for header_row in header_rows %}
    <tr>
      {% if forloop.counter0 == 0 %}
      <th rowspan="{{ header_rows|length }}"></th>
      {% endif %}
      {% for name, colspan, rowspan, color in header_row %}
      <th colspan="{{ colspan }}" rowspan="{{ rowspan }}" style="background: {{ color }}40">{{ name }}</th>
      {% endfor %}
    </tr>
    {% endfor %}
  </thead>
  {% for value_header, value_row in value_rows %}
  <tr>
    <th><a href="{% url 'expenses:expense_list' project.public_id %}">{{ value_header }}</a></th>
    {% for value in value_row %}
    <td class="text-right" style="font-size: 1rem; font-family: ui-monospace;">{{ value }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
